body{
background-color: black;
    
}

nav a{
    color: #996600 !important;
    font-family: 'Gloria Hallelujah', cursive;

}
.land{
    background: url('./pics/get-me-a-pizza-18.gif');
    background-position: center;


}
.foodie h5,h2{
    font-family: 'Gloria Hallelujah', cursive;
    color: #996600;

}
/* #menu-area{
    font-family: 'Gloria Hallelujah', cursive;
    color: #996600;


} */
.foodie p{
    font-family: 'Gloria Hallelujah', cursive;

}
 .move h1{
     font-size: 3rem;
 } 
  
 .move{
     margin-top: 21%;
     color: #fff;
     font-family: 'Gloria Hallelujah', cursive;
     }
   .right{
    animation: fromRight 3s;
    animation-delay: 1s;
    opacity: 0;
    animation-fill-mode: forwards;
}


@keyframes fromRight {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    50%{
        transform: translateX(-100px)
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.left{
    animation: fromLeft 3s;
    animation-delay: 1s;
    opacity: 0;
    animation-fill-mode: forwards;
}


@keyframes fromLeft {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    50%{
        transform: translateX(100px)
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.image-section{
    width: 30%;
}

button{
    background-color: #b87b00 !important;
    border-radius: 20px !important;
}
.card:hover{
    box-shadow: 0px 5px 20px 0px  #b87b00 ;
    transition: all .2s ease-in-out;
    transition-duration: .2s;
    transform: scale(1.03);

}
.verify {
    color: #b87b00;
    font-family: 'Gloria Hallelujah', cursive;

}
.bouncing{
    animation: bounce ease 2.5s infinite;
}
@keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

label{
    color: #b87b00;
}
select{
    color: #b87b00 !important;
}
::placeholder{
    color: #b87b00 !important;
}
.hide{
    font-family: 'Gloria Hallelujah', cursive;
    display: none;
}
.hide th,h3{
        color: #b87b00 !important;

}
 .hide td{
    color: #fff !important;
}
.finish{
    background: #996600;
    color: #fff !important;
}
.follow i{
    padding: 0 10px;
    font-size: 2rem;
    color: #fff;
}
.tweet:hover{
    color:rgba(29,161,242,1.00);
}
.fb:hover{
    color: #385898;;
}
.ig:hover{
    color:#d03b5c;
}

   